<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408997199674-jig8chv8isvoh7u68s4dql5p16kor9e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408997199674-jig8chv8isvoh7u68s4dql5p16kor9e2</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8daIwemVo-O7XgBuwvbkCsqzmPPcLiA</string>
	<key>GCM_SENDER_ID</key>
	<string>408997199674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mycompany.com.Cars-Test-App</string>
	<key>PROJECT_ID</key>
	<string>cars-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408997199674:ios:07a2bb43257d8945901a03</string>
</dict>
</plist>